.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.5rem;
    place-items: center;
    margin-top: 3.2rem;
  }
  
  .product_card {
    background-color: #f0f0f0;
    width: min-content;
    padding: 0.625rem;
    border-radius: 1.22rem;
  }
  
  .product_name_price {
    padding-left: 0.625rem;
  }
  
  .product_name {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  
  .product_price {
    font-size: 1rem;
    font-weight: bold;
    color: #6b6b6b;
    padding-top: 5px;
  }

 
  
  .product_name_price {
    margin-top: 5px;
    margin-bottom: 0.625rem;
    /* height: min(70px); */
  }

  .product_name{
    height: min(50px);
  }
  .product_detail_div{
    height: min(130px);
  }
  
  .product_disc_div {
    padding-left: 0.625rem;
  }
  
  .product_disc {
    font-weight: normal;
    font-size: 1rem;
    color: #878787;
  }

  .product_buy_btn_div {
    margin-top: 2.2rem;
    margin-bottom: 0.625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .buy_btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 3.1rem;
    margin: 1rem 0;
  }

  .add_to_cart_btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2.5rem;
    margin: 1rem 0;
  }

  .product_img_div{
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }


  .product_img{
    width: 16.875rem;
    height: 12.5rem;
    object-fit: contain;
  }



/* For Phone-screen */
  @media screen and (max-width: 400px) {
    html {
      font-size: 35%;
    }
  }
  @media screen and (max-width: 904px) {
    html {
      font-size: 40%;
    }
  
  
    .product_list {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
    .product_img {
      width: 22rem;
    }
  
    .heading_div {
      width: 45rem;
    }

    .product_name{
      height: min(30px);
      margin-top: 14px;
    }
    .product_detail_div{
      height: min(80px);
    }
  }
  
  @media only screen and (min-width: 904px) and (max-width: 1040px) {
    html {
      font-size: 70%;
    }
  
  
    .product_list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (min-width: 1040px) and (max-width: 1182px) {
    html {
      font-size: 75%;
    }
  
  
    .product_list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (min-width: 1182px) and (max-width: 1400px) {
    html {
      font-size: 85%;
    }
  
    .product_list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  